<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="#{sitename_admin}"></title> 
<meta name="keywords" content="index">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="/admin/assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed"
	href="/admin/assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="/admin/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="/admin/assets/css/admin.css">
<script src="/admin/assets/js/jquery.min.js"></script>
<script src="/admin/assets/js/app.js"></script>
</head>
<body>
	<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->
</head>

<body> 
	<header class="am-topbar admin-header">
		<div class="am-topbar-brand">
			<img src="/admin/assets/i/logo.png">
		</div>

		<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
			<ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

				<li class="am-dropdown tognzhi" data-am-dropdown>
					<button
						class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o"
						data-am-dropdown-toggle>
						消息管理<span class="am-badge am-badge-danger am-round">6</span>
					</button>
					<ul class="am-dropdown-content">



						<li class="am-dropdown-header">所有消息都在这里</li>



						<li><a href="javascript: alert('页面开发中...')" target="iframeConent">未激活会员 <span
								class="am-badge am-badge-danger am-round">556</span></a></li>
						<li><a href="javascript: alert('页面开发中...')" target="iframeConent">未激活代理 <span
								class="am-badge am-badge-danger am-round">69</span></a></a></li>
						<li><a href="javascript: alert('页面开发中...')" target="iframeConent">未处理汇款</a></li>
						<li><a href="javascript: alert('页面开发中...')" target="iframeConent">未发放提现</a></li>
						<li><a href="javascript: alert('页面开发中...')" target="iframeConent">未发货订单</a></li>
						<li><a href="javascript: alert('页面开发中...')" target="iframeConent">低库存产品</a></li>
						<li><a href="javascript: alert('页面开发中...')" target="iframeConent">信息反馈</a></li>



					</ul>
				</li>

				<li class="kuanjie"><a href="javascript: alert('页面开发中...')" target="iframeConent">会员管理</a> 
				<a href="javascript: alert('页面开发中...')" target="iframeConent">奖金管理</a> <a
					href="javascript: alert('页面开发中...')">订单管理</a> 
					<a href="javascript: alert('页面开发中...')" target="iframeConent">产品管理</a> 
					<a href="javascript: alert('页面开发中...')" target="iframeConent">个人中心</a> <a
					href="javascript: alert('页面开发中...')">系统设置</a></li>

				<li class="soso">

					<p>

						<select
							data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}">
							<option value="b">全部</option>
							<option value="o">产品</option>
							<option value="o">会员</option>

						</select>

					</p>

					<p class="ycfg">
						<input type="text" class="am-form-field am-input-sm"
							placeholder="圆角表单域" />
					</p>
					<p>
						<button class="am-btn am-btn-xs am-btn-default am-xiao">
							<i class="am-icon-search"></i>
						</button>
					</p>
				</li>




				<li class="am-hide-sm-only" style="float: right;"><a
					href="javascript:;" id="admin-fullscreen"><span
						class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
			</ul>
		</div>
	</header>

	<div class="am-cf admin-main">

		<div class="nav-navicon admin-main admin-sidebar">


			<div class="sideMenu am-icon-dashboard"
				style="color: #aeb2b7; margin: 10px 0 0 0;">欢迎系统管理员：【用户名】</div>
			<div class="sideMenu">
				<h3 class="am-icon-flag">
					<em></em> <a href="javascript: void(0)" >商品管理</a>
				</h3>
				<ul>
					<li><a href="admin/product/productList" target="iframeConent">商品列表</a></li>
					<li class="func" dataType='html' dataLink='msn.htm'
						iconImg='images/msn.gif'><a href="admin/product/addProduct" target="iframeConent">添加新商品</a>
					</li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">商品分类</a></li> 
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">商品回收站</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">库存管理</a></li>
				</ul>
				<h3 class="am-icon-cart-plus">
					<em></em> <a href="javascript: void(0)" > 订单管理</a>
				</h3>
				<ul>
					<li><a href="admin/product/orderList" target="iframeConent">订单列表</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">合并订单</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">订单打印</a></li>
					<li><a href="admin/product/comment" target="iframeConent">订单评论管理</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">添加订单</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">发货单列表</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">换货单列表</a></li>
				</ul>
				<h3 class="am-icon-users">
					<em></em> <a href="javascript: void(0)" >会员管理</a>
				</h3>
				<ul>
					<li><a href="admin/person/personList?op='userlist'" target="iframeConent">会员列表</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">未激活会员</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">会员系谱图</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">会员推荐图</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">推荐列表</a></li>
				</ul>
				<h3 class="am-icon-volume-up">
					<em></em> <a href="javascript: alert('页面开发中...')" target="iframeConent">信息通知</a>
				</h3>
				<ul>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">站内消息 /留言</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">短信</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">邮件</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">微信</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">客服</a></li>
				</ul>
				<h3 class="am-icon-gears">
					<em></em> <a href="javascript: alert('页面开发中...')" target="iframeConent">系统设置</a>
				</h3>
				<ul>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">数据备份</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">邮件/短信管理</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">上传/下载</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">权限</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">网站设置</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">第三方支付</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">提现 /转账 出入账汇率</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">平台设置</a></li>
					<li><a href="javascript: alert('页面开发中...')" target="iframeConent">声音文件</a></li>
				</ul>
			</div>
			<!-- sideMenu End -->

			<script type="text/javascript">
				jQuery(".sideMenu").slide({
					titCell : "h3", //鼠标触发对象
					targetCell : "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
					effect : "slideDown", //targetCell下拉效果
					delayTime : 300, //效果时间
					triggerTime : 150, //鼠标延迟触发时间（默认150）
					defaultPlay : true,//默认是否执行效果（默认true）
					returnDefault : true
				//鼠标从.sideMen移走后返回默认状态（默认false）
				});
			</script>








		</div>

		<div class=" admin-content">

			<div class="daohang">
				<ul>
					<li><button type="button"
							class="am-btn am-btn-default am-radius am-btn-xs"><a href="admin/home/indexContent.html" target="iframeConent">首页</a></li>
					<li><button type="button"
							class="am-btn am-btn-default am-radius am-btn-xs">
							<a href="javascript: alert('页面开发中...')" target="iframeConent">帮助中心</a>
							<a href="javascript: alert('功能开发中...')" class="am-close am-close-spin"
								data-am-modal-close="">×</a>
						</button></li>
					<li><button type="button"
							class="am-btn am-btn-default am-radius am-btn-xs">
							<a href="javascript: alert('页面开发中...')" target="iframeConent">奖金管理</a>
							<a href="javascript: alert('功能开发中...')" class="am-close am-close-spin"
								data-am-modal-close="">×</a>
						</button></li>
					<li><button type="button"
							class="am-btn am-btn-default am-radius am-btn-xs">
							<a href="javascript: alert('页面开发中...')" target="iframeConent">产品管理</a>
							<a href="javascript: alert('功能开发中...')" class="am-close am-close-spin"
								data-am-modal-close="">×</a>
						</button></li>


				</ul>




			</div>





			<iframe src='admin/home/indexContent.html' name='iframeConent' width='100%' height=700px
				frameborder='0' id="_blank"></iframe>

			<style>
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
</style>
		</div>




	</div>


	<div class="foods">
		<ul th:utext="#{copyright}"></ul>
		<dl>
			<a href="javascript: alert('页面开发中...')" target="iframeConent" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
		</dl>



	</div>
	<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/admin/assets/js/polyfill/rem.min.js"></script>
<script src="/admin/assets/js/polyfill/respond.min.js"></script>
<script src="/admin/assets/js/amazeui.legacy.js"></script>
<![endif]-->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="/admin/assets/js/amazeui.min.js"></script>
	<!--<![endif]-->



</body>
</html>