<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Amaze UI Admin index Examples</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="/admin/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="/admin/assets/css/admin.css">
<script src="/admin/assets/js/jquery.min.js"></script>
<script src="/admin/assets/js/app.js"></script>

<!--  引入 Vue.js -->
<script src="/admin/assets/js/vue.min.js"></script>

</head>
<body>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->






</head>

<body> 

<div class=" admin-content">

<div class="admin-biaogelist">
    
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 栏目名称</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">商品列表</a></dl>
      
      <dl>
        <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"> 添加产品</button>
      </dl>
      
      
    </div>
    
    <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
  <ul>
    <li>
      <div class="am-btn-group am-btn-group-xs">
        <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
          <option value="b">产品分类</option>
          <option value="o">下架</option>
        </select>
      </div>
    </li>
    <li>
      <div class="am-btn-group am-btn-group-xs">
      <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
        <option value="b">产品分类</option>
        <option value="o">下架</option>
      </select>
      </div>
    </li>
    <li style="margin-right: 0;">
        <span class="tubiao am-icon-calendar"></span>
      <input type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="开始日期" data-am-datepicker="{theme: 'success',}"  readonly/>
    </li>
       <li style="margin-left: -4px;">
        <span class="tubiao am-icon-calendar"></span>
      <input type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="开始日期" data-am-datepicker="{theme: 'success',}"  readonly/>
    </li>
    
        <li style="margin-left: -10px;">
      <div class="am-btn-group am-btn-group-xs">
      <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
        <option value="b">产品分类</option>
        <option value="o">下架</option>
      </select>
      </div>
    </li>
    <li><input type="text" class="am-form-field am-input-sm am-input-xm" placeholder="关键词搜索" /></li>
    <li><button type="button" class="am-btn am-radius am-btn-xs am-btn-success" style="margin-top: -1px;">搜索</button></li>
  </ul>
</div>


    <form class="am-form am-g">
          <table id="productList" width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
                <tr class="am-success">
                <th class="table-check"><input type="checkbox"  v-model="allchecked"/></th> <!-- 全选 -->
                <th class="table-id">排序</th>
                <th class="table-id">ID</th>
                <th class="table-title">标题</th>
                <th class="table-type">类别</th>
                <th class="table-type">价格</th>
                <th class="table-type">库存</th>
                <th class="table-type">销量</th>
                <th class="table-type">收藏量</th>
                <th class="table-author am-hide-sm-only">上架/下架 <i class="am-icon-check am-text-warning"></i> <i class="am-icon-close am-text-primary"></i></th>
                <th class="table-date am-hide-sm-only">上架时间</th>
                <th width="163px" class="table-set">操作</th>
              </tr>
            </thead>     
            <tbody >
              <!--    数据来自ajax请求 -->
               
              <tr v-for="product in productList">
                <td><input type="checkbox" value="eed"  v-model="check"/></td>
                <td><input type="text" class="am-form-field am-radius am-input-sm"/></td>
                <td>{{product.id}}</td>   <!-- id -->
                <td><a href="#">{{product.title}}</a></td>  <!-- 标题 -->
                <td>default</td>  <!-- 类别 -->
                <td>{{product.price}}</td>    <!--  价格 -->
                <td>{{product.stock}}</td>  <!-- 库存 -->
                <td>{{product.salesNum}}</td>   <!-- 销量 -->
                 <td >{{product.collectioNum}}</td>  <!-- 收藏 -->
                <td  v-if="product.shelves==1">上架 <i class="am-icon-check am-text-warning"></i> </td>    <!-- 上架/下架 -->
                <td  v-else>下架 <i class="am-icon-close am-text-primary"></i></td>    <!-- 上架/下架 -->
                <td >{{product.addTime}}</td>  <!--  时间 -->
                <td><div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <button class="am-btn am-btn-default am-btn-xs am-text-success am-round"><a  v-bind:href="['#?id='+product.id]"><span class="am-icon-search" title="查看商品详情"></span> </a></button>
                      <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"><a  v-bind:href="['#?id='+product.id]"><span class="am-icon-pencil-square-o" title="编辑商品"></span></a></button>
                      <button class="am-btn am-btn-default am-btn-xs am-text-warning  am-round">  <a  v-bind:href="['#?id='+product.id]"><span class="am-icon-trash-o" title="删除商品"></span></a></button>
                    </div>
                  </div></td>
              </tr>
             
            </tbody>
          </table>
          
                 <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 上架</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 下架</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
          
          <ul class="am-pagination am-fr">
                <li class="am-disabled"><a href="#">«</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
          
          
          
      
          <hr />
          <p>注：.....</p>
        </form>
 
 
 
 



</div>

</div>

</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->

<!-- 请求数据 -->
<script type="text/javascript">
     var productList=new Vue({
    	  el:'#productList',
    	 
    	  data:{   
    		  allchecked:false, //默认不全选
        	  check:[],
    		  productList:[]  
    		 }, 
   
    		  created:function(){   
    	    	var product=this;
    	    	 
    	    		 $.ajax({
    	    			url:"/api/v1/get/product/all", //接口地址 获取所有商品
    	    			type:"get",  //请求类型
    	    			dataType:"json", //数据类型
    	    			success:function(data){   //请求成功    	    				
    	    				product.productList=data;    
    	    			},
    	    			error : function(XMLHttpRequest, textStatus, errorThrown) {  //请求失败
    	                    console.log("错误：接口请求失败了。");
    	                    console.log("状态码："+XMLHttpRequest.status);
    	                    console.log("准备状态："+XMLHttpRequest.readyState);
    	                    console.log("文本状态："+textStatus);
    	                }
    	    			  
    	    		  }); //end ajax 
    	       },//end function
    	    watch: {
    	    	allchecked:function( nal) {	 	//全选 和取消全选
    	   				this.check =nal    	   				
    	   		}
    	   	}  //end watch
    	 
     }) //end Vue


</script>



</body>
</html>